.bg-primary {
    background-color: #7B9669 !important;
}
.bg-secondary {
    background-color: #404E3B !important;
}
.bg-tertiary {
 background-color: #e6e6e6;
}

main {
padding-top: 68px;
}

body {
background-image: url(media/background.jpg);
background-repeat: no-repeat;
background-position: center;
}